body{
background-color: #f4a261  ;
}
b{
    font-weight: bold;
    font-size:30px;
    margin-left:10px;
    font-family: cursive;
}

/*if text is in this kind of element then its large and cursive*/
p{
    margin-left:10px;
    font-family: cursive;
    font-size:30px;
}
#buttonDiv{
    background-color: #e76f51;
    top:0px;
    height:60px;
    left:0px;
    position:absolute;
    width:73.1%;
    padding-left:400px;
    padding-top:20px;
}
#boggleButtons{
    visibility: hidden;
    display:none;
    margin-left:202px;
    margin-top:10px;
}
#tttButtons{
    visibility: hidden;
    display:none;
    margin-left:100px;
    margin-top:10px;
}
h3{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size:40px;
    margin-top:0px;
}
#hangmanButtons{
    visibility: hidden;
    display:none;
    margin-left:160px;
    margin-top:10px;
}
#bjButtons{
    visibility: hidden;
    display:none;
    margin-left:160px;
    margin-top:10px;
}
#backButton{
    margin-top:80px;
}
#result{
    padding-top:30px;
    width:1000px;
    height:500px;
    font-size: 40px;
    text-align: center;;
    background-color:#e9c46a;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
    overflow-y: scroll;
}
