/* body {-- UNCOMMENT
    background-color:rgb(255, 255, 255);
    position: fixed;
    margin: 0px;
    height: 100%;
    
}

h1 {
    font-size: 70px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    position: fixed;
    background-color: rgb(187, 187, 187) ;
    width: 100%;
    padding: 10px;
    height: 80px;
    display: block;
    color:rgb(0, 0, 0);
} */

/* 
.dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0px;
}
  
.dropdown {
    position: absolute;
    position: fixed;
    display: block;
    display: inline-block;
    top: 95px;
    width: 100%;
    height: 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content button:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: rgb(66, 65, 65);} */

/* ---UNCOMMENT THIS --
.dropdown {
    width: 100%;
    display: block;
    right: 0px;
    left: 0px;
    top: 82px;
    position: absolute;
    position: fixed;
    height: 5px;
}
.dropbtn {
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   
    font-size: 16px;
    border: none;
    cursor: pointer;
   
    display: block;
    width:100%;
    margin-right: 0px;
    margin-left: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
  
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    font-size: 18px;
} */
/*  -- uncomment 
.dropdown-content button:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(81, 80, 80);} */

/*----UNCOMMENT 
#games {
    margin-top: 90px;
    position: relative;
    height: 100%;
    margin-bottom: 0px;
    bottom: 0px;

}

#b {
    float: right;
    right: 0px;
    position: absolute;
    width: 50%;
    height: 22%;
    padding-top:8%;
    position: fixed;
    font-size:40px;
    text-align: center;
    background-color: #CDFAD5;
}

#bj {
    float: right;
    right: 0px;
    position: absolute;
    width: 50%;
    position: fixed;
    padding-top:10%;
    text-align: center;
    background-color: #FF8080;
    height: 20%;
    font-size:40px;
    margin-top: 21%;
    
}

#h {
    position: absolute;
    position: fixed;
    width: 50%;
    text-align: center;
    height: 22%;
    padding-top:8%;
    font-size:40px;
    background-color: #FFCF96;
}

#t {
    position: absolute;
    padding-top:10%;
    position: fixed;
    width: 50%;
    text-align: center;
    height: 20%;
    font-size:40px;
    margin-top: 21%;
    background-color:#F6FDC3;
    
} */


.column {
    float: left;
    background-color: #8ECDDD;
    margin-top: 10px;
    border: black 1px;
    padding: 3px;
    text-align: center;
    width: 99.8%;
}

p {
    display: flex;
    font-size: 20px;
    padding-left: 60px;
}

h2 {
    font-size: 30px;
    display: flex;
    margin-left: 20px;
    padding-left: 460px;
}


img {
    max-height: 200px;
    width: 200px;
    display: inline-block;
    float: left;
    border-radius: 8px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* The navbar container */
.topnav {

    overflow: hidden;
    margin-top: 0px;
    height: 70px;
    background-color: #22668D;
}

/* Navbar links */
.topnav a {
    margin-top: 10px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    background-color: #FFCC70;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}