body{
    text-align: center;
    position: block;
    background-color: rgb(224, 83, 67);
}

#allInfo{
    padding: 15px;
    font-size: medium;
}

#backButton{
    position: fixed;
    top:0;
    left:0;
    padding: 5px;
    color:rgb(255, 255, 255);
    background-color: black;
}